# =============== #
# Unity generated #
# =============== #
Temp/
obj/
Library/
/Library

!/Snapshots/
/Snapshots/*

MobileApp/Library/
MobileApp/Assets/StreamingAssets/build_info.txt
MobileApp/Assets/StreamingAssets/build_info.txt.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.svd
*.userprefs
*.csproj
*.sln
*.csproj
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
/obj/Debug
